* {
    padding: 0;
    border: 0;
}
ul{
    list-style: none;
}
.wrapper{
  max-width: 1024px;
  margin: 0 auto;
}
img, picture {
    width: 100%;
    margin-bottom: 10px;
}

@media all and (min-width: 600px) and (max-width: 1024px) {
    .columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    }
}

@media all and (min-width: 1024px) {
    .columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
    }
}



